@value light, lighter, lighter-highlight, lightest, small from './variables.css';

.wrapper {
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.group-wrapper {
  margin-bottom: 1rem;
}

.input {
	width: 100%;
  height: 100%;
  padding: 0.5rem;
  max-width: 20rem;
  box-sizing: border-box;
  border: 1px solid light;
  border-radius: 3px;
  background-color: lighter;
  font-size: small;
  transition: background-color linear 0.2s;
}

.input:active, .input:focus {
  background-color: lighter-highlight;
}

.binary {
  box-sizing: border-box;
  margin-right: 0.25rem;
  font-size: small;
}


