.panel {
  composes: panel from '../../modules/panel.css';
}

.heading {
  composes: heading from '../../modules/panel.css';
}

.server-port {
  composes: container from '../../modules/server-port.css';
}

.server {
  composes: server from '../../modules/server-port.css';
}

.port {
  composes: port from '../../modules/server-port.css';
}
